<div class = 'container grid-3 address pb-3 pt-3'>
  <div class = 'feature'>
    <i class = 'icon fa icon fa-building-o'></i>
    <h6>Physical Address</h6>
    <span>40356 Monroe Glen Lane <br> Leesburg, VA 20175</span>
  </div>
  <div class = 'feature'>
    <i class = 'icon fa icon fa-phone'></i>
    <h6>Phone</h6>
    <span> (703) 852-5160</span>
  </div>
  <div class = 'feature'>
    <i class = 'icon fa icon fa-envelope-o'></i>
    <h6>Email Address</h6>
    <span>info@konekti.us</span>
  </div>
</div>