<div class = 'contact-form container pb-3 pt-4 pa'>
  <div class = 'center'>
    <h5 class = 'mute'>Looking for a quick reply?</h5>
    <h2 class = 'light'>Send us an email</h2>
  </div>
  <form name = 'contact' action = 'https://formcarry.com/s/{{ site.formcarry }}' method = 'POST' accept-charset = 'UTF-8' id = 'enquire' class = 'form'>
    <label for = 'id'>Your Name</label>
    <input type = 'text' id = 'name' name = 'Name' placeholder = 'Your Name' class = 'form_input contact-name'>
    <label for = 'email'>Your Email</label>
    <input type = 'text' id = 'email' name = '_replyto' placeholder = 'Your Email' class = 'form_input'>
    <label for = 'mobile'>Your Phone Number</label>
    <input type = 'text' id = 'mobile' name = 'Mobile' placeholder = 'Your Phone' class = 'form_input'>
    <label for = 'message'>Your Message</label>
    <textarea id = 'message' class = 'form_input' name = 'Message' placeholder = 'Your Message'></textarea>
    <button name = 'contact' type = 'submit' id = 'contact-submit' class = 'btn'>Submit Now</button>
  </form>
</div>
