<section class='services intro_container' id='home'>
  <div class='intro grid grid-2 pa'>
    <div class = 'flex-in pb-1 pt-4'>
      {%- include globe.html -%}
      <!-- <figure class = 'intro_inner flex-in'>
        <img alt='cloud computing' src='/assets/cloud-1.svg' >
      </figure> -->
    </div>
    <div class = 'intro_inner flex-in pb-3'>
      <div class = 'flex-in flex-up'>
        <h1 class = 'center'>Konekti Systems</h1>
        <h4 class = 'mute pb-1 pt-1 center'>A Secure Connectivity Services Company</h4>
        <a class='btn' href='#services'>View More</a>
      </div>
    </div>
  </div>
</section>
