<section class='services intro_container' id='home'>
  <div class='intro grid grid-2 pa'>
    <div class = 'intro_inner flex-in pb-3'>
      <div class = 'flex-in flex-up'>
        <h1 class = 'center'>Secure Connectivity Experts for the Cloud Age</h1>
        <h4 class = 'mute pb-1 pt-1 center'>An agile network built on foundations of security and automation is a 
critical pillar of any cloud infrastructure. Konekti engineers—with a full stack view of your applications—will enable your 
team to "get the network out of the way" of delivering applications.
</h4>
      </div>
    </div>
  </div>
</section>
