<h2 class = 'center mb-1'>Konekti Team</h2>
<section class = 'team grid-3 pb-3 pt-2'>
{%- for person in site.data.team -%}
  <div class = 'team_member pb-2 pt-2'>
    <div>
      <img src = '/assets/authors/{{ person.thumb }}' alt = '{{ person.name }}' class = 'team_thumb'>
      <div class = 'pa'>
        <h4 class = 'member_item'><a href = '{{ person.profile }}' title = '{{ person.name }} LinkedIn' target = '_blank'>{{ person.name }}</a></h4>
        <h6 class = 'member_item'>{{ person.role }}</h6>
        <p class = 'member_item'><a href = "mailto:{{ person.email }}">{{ person.email }}</a></p>
      </div>
    </div>
    <div class = 'team_hidden'>
      {{ person.scope | markdownify }}
    </div>
  </div>
{%- endfor -%}
</section>
<div class = 'member_content'>
  <div class = 'member_inner'>
    <div class = 'member_header pt-2 pb-2'></div>
    <div class = 'member_description'></div>
    <div class = 'member_close'>x</div>
  </div>
</div>