<section class = 'map'>
  <div class = 'container'>
    <div class = 'wrap'>
      <img src = '/assets/map.png' id = 'world-map' alt = 'cdns'>
      <div class = 'pts'>
        <div class = 'ld wh fast fn'></div>
        <div class = 'ld wh fast eu'></div>
        <div class = 'ld wh faster eu-1'></div>
        <div class = 'ld wh fast wc'></div>
        <div class = 'ld wh slow ec'></div>
        <div class = 'ld wh faster ec-1'></div>
        <div class = 'ld wh slow br'></div>
        <div class = 'ld wh slow in'></div>
        <div class = 'ld wh slow sn'></div>
        <div class = 'ld wh fast jp'></div>
        <div class = 'ld wh fast au'></div>
        <div class = 'ld wh fast hk'></div>
        <div class = 'ld wh fast ch'></div>
        <div class = 'ld wh slow io'></div>
        <div class = 'ld wh faster qc'></div>
        <div class = 'ld wh fast st'></div>
        <div class = 'ld wh slow wy'></div>
        <div class = 'ld wh faster tx'></div>
        <div class = 'ld wh fast ln'></div>
        <div class = 'ld wh faster ge'></div>
        <div class = 'ld wh faster sl'></div>
        <div class = 'ld wh faster va'></div>
      </div>
    </div>
  </div>
</section>