<nav class = 'container nav pa'>
  <div class = 'site_brand'>
    <a href = '/' class = 'logo'>{% include logo.svg %}</a>
    <div class = 'nav_toggle'>&#9776;</div>
  </div>
  <nav class = 'nav_menu'>
  {%- for item in site.data.nav -%}
    {%- assign link = page.permalink | remove : '/' -%}
    {%- assign id = item.id | slugify -%}
    <a 
      href='/{%- unless item.type == 'page' -%}#{%- endunless -%}{{ item.id }}' 
      class = "nav_item {% if link == id %}nav_active{% endif %}{% if page.parent == id %} nav_active{% endif %}"
    >
      {{ item.text | upcase }}
    </a>
  {%- endfor -%}
  </nav>
</nav>
