{%- if page.validator %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src = '/js/validator.js'></script>
{%- endif -%}
{%- if page.form -%}
  <script src = 'js/autosize.js'></script>
  <script>
    const formCarryAction = `https://formcarry.com/s/{{ site.formcarry }}`;
  </script>
{%- endif -%}
<script src = '/js/index.js'></script>
<script src="https://use.fontawesome.com/22572db09e.js"></script>
