@keyframes show{
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    width: 360px;
    opacity: 1;
  }
}
@keyframes hide{
  0%{
    width: 360px;
    opacity: 1;
  }
  100%{
    width: 0;
    opacity: 0;
  }
}