@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500|Open+Sans:400,400i");

*,
*:before,
*:after { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
	width: 100%;
	line-height: 24px;
	font-size: 16px;
	color: #4a4a4a;
	background: #fff;
	overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
}

p{
  padding: $padding 0;
  font-size: 18px;
  margin: 0 0 0 0;
  line-height: 1.75 !important;
}
li p {
  padding: 0;
}
a {
  color: inherit;
  font-size: inherit;
}

// Link Styling 
a, a:hover, a:active, a:visited, a:link {
	outline: none;
	transition: all 0.5s ease 0s;
	text-decoration: none;
}

// Headings 
$lh : 1; // line-height
$fs : 2.8rem; // font-size;
@for $i from 1 through 6 {
	$lh : $lh + 0.08;
	$fs : $fs * 0.85;
	h#{$i} {
		margin: 0;
		font-family:  'Montserrat', sans-serif;
		font-weight: 500;
		color: #000;
		line-height: $lh;
		font-size: $fs;
	}
}
h6 {
	margin: 0 0 15px 0;
}
ul, ol {
  padding-left: 1.5rem;
}
li {
  padding:8px 15px;
}
ul{
  &,  li {
    @extend %unordered;
  }
}
ol {
  // list-style: outside none decimal;
  &, li {
    @extend %ordered;
  }
}
aside {
  &.aside {
    ul, li {
      list-style: none;
      -webkit-padding-start:0;
      -moz-padding-start:0;
    }
    ul, ol {
      padding-left: 0;
    }
  }
}
input, select, label, textarea, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	box-shadow: none;
	outline: none;
	color: #4a4a4a;
}
textarea {
  -webkit-appearance: none;
  resize: none;
}
form {
  max-width: 540px;
  margin: 0 auto 50px;
}
label{
  opacity: 0;
  visibility: hidden;
}
img {
	max-width: 100%;
}
em {
  line-height:1.7;
  font-weight:300;
}
aside h3{
  position:relative;
  margin:0 !important;
}
pre{
  display: block;
  margin: 0 0 10px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

$emojis: (
  wave: "\1F44B",
  warn: "\26A0",
  gear: "\2699",  
  star : "\2b50",
  mail: "\1F4E7",
  money: "\1F480",
  write: "\270D",
  clap: "\1F447",
  smile: "\1F642",
  sad: "\1F61E"
);

@each $emoji, $code in $emojis {
  .em_#{$emoji}:after {
    content: $code;
  }
}

[class^=em_] {
  display: inline-grid;
  justify-self: center;
  background: transparent;
  font-size: 1.25rem;
}
.em-2{
  font-size: 4rem;
}

[class^=em_]:after {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

blockquote {
  color: $gold;
  padding: 1rem 1rem 1rem 0;
  // font-size: 1.25rem;
  position: relative;
  quotes:'\201C''\201D''\2018''\2019';
  margin:0.5rem 0;
  display: flex;
  flex-flow: row wrap;
  p{
    padding-left: 0.5rem !important;
  }
  &::before,
  &::after {
    font-size: 2rem;
    font-family: serif;
  }
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
    display: flex;
    align-items: flex-end;
  }
}