*,
*:before,
*:after { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}
html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font;
	width: 100%;
	font-size: 18px;
	color: $text;
	background: #fff;
	overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  padding: $padding 0;
  margin: 0 0 0 0;
}

a {
  color: inherit;
  font-size: inherit;
  &, &:hover, &:active, &:visited, &:link {
    outline: none;
    transition: color 0.5s $ease;
    text-decoration: none;
  }
}

$lh : 1.1;
$fs : 2rem;
@for $i from 1 through 6 {
	$lh : $lh + 0.06;
	$fs : $fs - 0.2;
	h#{$i} {
		margin: 0;
		font-weight: 600;
		color: $text;
		line-height: $lh;
		font-size: $fs;
	}
}
h6 {
	margin: 0 0 15px 0;
}
h3 {
  padding: 20px 0;
}
li {
  padding:0.5rem 0;
  p {
    padding: 0;
  }
}
ul, ol {
  padding-left: 1.25rem;
}
ul{
  @extend %unordered;
}
ol {
  @extend %ordered;
}
aside {
  &.aside {
    ul, li {
      list-style: none;
    }
    ul, ol {
      padding-left: 0;
    }
  }
}
input, select, label, textarea, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	box-shadow: none;
	outline: none;
  color: #4a4a4a;
  font-size: 1rem;
}
textarea {
  -webkit-appearance: none;
  resize: none;
}
form {
  max-width: 540px;
  margin: 0 auto 50px;
}
label{
  opacity: 0;
  visibility: hidden;
}
img, figure, svg {
  max-width: 100%;
  display: grid;
}
b, strong {
  font-weight: 600;
}
aside h3{
  position:relative;
  margin:0 !important;
}

blockquote {
  color: $blue;
  padding: 1rem 1rem 1rem 0;
  position: relative;
  quotes:'\201C''\201D''\2018''\2019';
  margin:0.5rem 0;
  display: flex;
  flex-flow: row wrap;
  p{
    padding-left: 0.5rem !important;
  }
  &::before,
  &::after {
    font-size: 2rem;
    font-family: serif;
  }
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
    display: flex;
    align-items: flex-end;
  }
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h3 {
  color: $blue;
  font-size: 1.2rem;
}
.column {
  display: flex;
  flex-direction: column;
  &_flex {
    flex: 1;
  }
}
