*,
*:before,
*:after { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font;
  font-weight: 400;
	width: 100%;
	line-height: 24px;
	font-size: 16px;
	color: #4a4a4a;
	background: #fff;
	overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
}

p{
  padding: $padding 0;
  margin: 0 0 0 0;
  line-height: 1.75 !important;
}
p, li {
  font-size: 1.1rem;
}
a {
  color: inherit;
  font-size: inherit;
  &, &:hover, &:active, &:visited, &:link {
    outline: none;
    transition: all 0.5s ease 0s;
    text-decoration: none;
  }
}

$lh : 1.1;
$fs : 2rem;
@for $i from 1 through 6 {
	$lh : $lh + 0.06;
	$fs : $fs - 0.15;
	h#{$i} {
		margin: 0;
		font-weight: 500;
		color: #000;
		line-height: $lh;
		font-size: $fs;
	}
}
h6 {
	margin: 0 0 15px 0;
}
li {
  padding:0.5rem 0;
  p {
    padding: 0;
  }
}
ul, ol {
  padding-left: 1.25rem;
}
ul{
  @extend %unordered;
}
ol {
  @extend %ordered;
}
aside {
  &.aside {
    ul, li {
      list-style: none;
    }
    ul, ol {
      padding-left: 0;
    }
  }
}
input, select, label, textarea, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	box-shadow: none;
	outline: none;
	color: #4a4a4a;
}
textarea {
  -webkit-appearance: none;
  resize: none;
}
form {
  max-width: 540px;
  margin: 0 auto 50px;
}
label{
  opacity: 0;
  visibility: hidden;
}
img {
	max-width: 100%;
}
b, em, strong {
  font-weight: 500;
}
aside h3{
  position:relative;
  margin:0 !important;
}
pre{
  display: block;
  margin: 0 0 10px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}

blockquote {
  color: $gold;
  padding: 1rem 1rem 1rem 0;
  position: relative;
  quotes:'\201C''\201D''\2018''\2019';
  margin:0.5rem 0;
  display: flex;
  flex-flow: row wrap;
  p{
    padding-left: 0.5rem !important;
  }
  &::before,
  &::after {
    font-size: 2rem;
    font-family: serif;
  }
  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
    display: flex;
    align-items: flex-end;
  }
}