
.form{
  &_action{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($dark, 0.1);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  &-control {
    box-shadow: 0 0 130px rgba(0,0,0,0.17);
    border-radius: 10px;
    width: 100%;
    padding: $margin $padding;
    transition: all 0.3s ease-out;
    &:focus{
      box-shadow: 0 0 90px rgba(0,0,0,0.17);
    }
  }
  &_input {
    background: $light;
    color: $dark;
    margin-bottom: 15px !important;
    line-height: 1.6;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    text-align: left;
    font-size: 16px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    transition: all 0.3s;
    &-shadow {
      border: 1px solid #f0f0f0;
      margin: 15px auto 25px !important;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
      &:focus{
        box-shadow: 0 0 40px rgba(0,0,0,0.17);
      }
    }
  }
  &_validator{
    max-width: 840px;
    margin: 0 auto;
  }
}
.main{
  &__padded {
    @include viewport () {
      padding: 105px 30px 25px;
    }
  }
}
.align-left{
  text-align:left;
}
.year{
  display: inline;
}
.address{
  grid-template-columns: 1fr 1fr 1fr;
}
section p{
  text-align:left;
  padding:10px 0;
}
.overlay h1{
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  font-weight:300 !important;
}
.overlay h4{
  color:#cecece;
}
.point{
  margin-right:15px;
  color:#47CF73;
}
.main-banner {
  background-size:cover;
}
.child{
  width:99%;
}
.trio li{
  max-height:180px;
  overflow:hidden; 
}
.overlay,
.shadow{
  position:absolute;
  top:0;
  width:100%;
  padding:25px;
  bottom:0;
}
.overlay{
  display:flex;
  justify-content:center;
  align-items:center;
}
.overlay,
.shadow{
  background-color:rgba(10,15,30,0.5);
}
.trio{
  text-align:left;
}
.button{
  background-color:#f5f5f5;
  width:250px;
  padding:15px;
  display:block;
  margin:auto;
}
.btn {
	background: #faac3a;
	text-transform: uppercase;
	border-radius: 40px;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-size: 17px;
	height: 46px;
	line-height: 46px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	width: 225px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
	transition: all 0.5s ease 0s;
  font-family: "Montserrat";
  &_left {
    margin: 0;
  }
  &:hover{
    color: $gold;
    background: $light;
    border: 1px solid $gold;
  }
}
.hold{
  position:relative;
  overflow:visible;
}
.cool{
  background-position:50% 50%;
  background-size:cover;
  background-repeat:no-repeat;
  position:relative;
  color:#fff;
  height:360px;
  background-color:$dark;
  overflow: hidden;
  background-image:url(/assets/faster.jpg);
  h1{
    color:#fff !important;
    text-align: center;
    margin-bottom:12px;
    font-size:2.4em;
  }
}
.tripple{
  order:-1;
}
.tablet{
  display:none;
}
.cont{
  color: rgb(250,172,58);
}
.center{
  text-align:center !important;
}
.apart{
  display:inline-block;
  opacity:0.5;
  display:inline-block;
  margin-right:12.5px;
  margin-left:12.5px;
}
@media screen and (min-width: 768px){
  .nav-menu a{
    display:inline-block;
    height:initial;
    text-align:left;
  }
  .trio{
    order:-1;
  }
  .left{
    text-align:left;
  }
  .post-content p{
    width:91%;
    font-size:19px;
  }
}
@media screen and (min-width: 769px){
  .tablet{
    display:block;
    position:relative;
    width:60px;
  }
  .mobile{
    display:none;
  }
}
@media screen and (min-width: 992px){
  .strip{
    /* width:5%; */
    display: none;
  }
  .tripple,
  .trio{
    order:initial;
  }
  .third{
    width:32%;
  }
}
.tools{
  a{
    color: #faac3a;
    &:visited,
    &:hover{
      opacity:0.75;
    }
    &:visited{
      color: darken(#faac3a, 30%);
    }
  }
}
.validator{
  text-align: center;
  h1{
    font-size: 1.8rem;
  }
}
.intro{
  min-height: 84vh;
  h1{
    color: $light;
  }
  img{
    width: 100%;
    max-width: 300px;
  }
  &_container{
    background: rgba(17, 97, 132, 1);
  }
  &_inner{
    @media screen and (min-width: 1024px) {
      justify-content: flex-start !important;
    }
  }
}
#engage {
  background: #F4F5F9;
  padding: 30px 0;
  margin: 30px 0;
}

.bottom-area{
  background: $dark;
  color: $mute;
}
.member {
  &_inner {
    background: $light;
    display: grid;
    width: 96%;
    max-width: $max-width;
    max-height: 72vh;
    overflow-y: auto;
    grid-template-columns: 1fr;
    transform: scale(0);
    transform-origin: 0 0;
    transition: all 0.3s;
    border-radius: 0.5rem;
    filter: drop-shadow(75px 50px 50px rgba(52,90,64,.1));
    cursor: initial;
    @media screen and (min-width: 667px) {
      grid-template-columns: 1fr 2fr;
    }
  }
  &_widget &_inner {
    transform: scale(1);
  }
  &_widget {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
  }
  &_header {
    background: #F4F5F9;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  &_description {
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.team {
  &_hidden {
    display: none;
  }
  &_member{
    // box-shadow: 0 0 5px rgba(0,0,0,0.17);
    transition: all 0.3s;
    border-radius: 5px;
    overflow: hidden;
    &, p{
      text-align: center;
    }
    &:hover {
      transform: translateY(-15px);
      box-shadow: 0 0 50px rgba(0,0,0,0.17);
    }
  }
  &_thumb{
    width: 150px;
    display: block;
    margin: 0 auto 25px;
    border-radius: 50%;
  }
}

// subscribe widget;
.mail{
  h2,h3{
    padding-top: 15px;
  }
  &_container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  &_grow {
    animation: grow 1s forwards;
    padding: 10px 20px;
  }
  // &_retard {
  //   animation: retard 0s forwards;
  //   padding: 0;
  // }
  &_inner{
    position: relative;
  }
  &_preview,&_body{
    position: absolute;
    bottom: 0;
    right: 5px;
    overflow: hidden;
    transform-origin: 100% 50%;
    width: 100%;
    max-width: 360px;
  }
  &_preview {
    font-family:  'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    background: $gold;
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }
  &_body{
    background: $light;
    box-shadow: 0 0 60px rgba(0,0,0,0.3);
    border-radius: 10px 10px 0 0;
    text-align: center;
    z-index: 50;
    height: 0;
    opacity: 0;
  }
  &_close{
    overflow: hidden;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    color: #444;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 30px transparent;
    padding: 6px 10px;
    z-index: 51;
    transition: all 0.3s;
    &:hover{
      box-shadow: 0 0 30px rgba(0,0,0,0.17);
    }
  }
  &_inner {
    position: relative;
  }
}