.main{
  &__padded {
    @include viewport () {
      padding: 105px 30px 25px;
    }
  }
}
.header-dark{
  background: $dark;
  padding: $padding 0 !important;
  position: fixed;
}
.center-text{
  text-align:center;
  margin:1% auto;
}
.align-left{
  text-align:left;
}
.year{
  display: inline;
}
section p{
  text-align:left;
  padding:10px 0;
}
.overlay h1{
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  font-weight:300 !important;
}
.overlay h4{
  color:#cecece;
}
.point{
  margin-right:15px;
  color:#47CF73;
}
.home-fun-fact-area-outer-sec,
.main-banner {
  background-size:cover;
}
.contact-sec-contents{
 background:#F4F5F9;
}
.flex {
  &,&-in {
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start;
    justify-content:space-between;
  }
  &-in{
    justify-content:center;
    align-items: center;
  }
  &-up{
    display:flex !important;
    flex-direction:column;
    justify-content:space-between;
  }
}
.child{
  width:99%;
}
.trio li{
  max-height:180px;
  overflow:hidden; 
}
.overlay,
.shadow{
  position:absolute;
  top:0;
  width:100%;
  padding:25px;
  bottom:0;
}
.overlay{
  display:flex;
  justify-content:center;
  align-items:center;
}
.overlay,
.shadow{
   background-color:rgba(10,15,30,0.72);
}
.poetic{
  display:block;
  margin:0 auto;
  width:270px;
  color:#eee;
  font-size:1.05em;
  font-style:italic;
  font-weight:300;
}
.trio{
  text-align:left;
}
.button{
  background-color:#f5f5f5;
  width:250px;
  padding:15px;
  display:block;
  margin:auto;
}
.hold{
  position:relative;
  overflow:visible;
}
.cool{
  background-position:50% 50%;
  background-size:cover;
  background-repeat:no-repeat;
  position:relative;
  color:#fff;
  min-height:360px;
  background-color:#000;
  h1{
    color:#fff !important;
    text-align: center;
    margin-bottom:12px;
    font-size:2.4em;
  }
}
.tripple{
  order:-1;
}
.tablet{
  display:none;
}
.cont{
  color: rgb(250,172,58);
}
.center{
  text-align:center !important;
}
.apart{
  display:inline-block;
  opacity:0.5;
  display:inline-block;
  margin-right:12.5px;
  margin-left:12.5px;
}
@media screen and (min-width: 768px){
.nav-menu a{
  display:inline-block;
  height:initial;
  text-align:left;
}
.tripple{
  width:67%;
}
.trio{
  width:25%;
  order:-1;
}
.left{
  text-align:left;
}
.post-content p{
  width:91%;
  font-size:19px;
}
}
@media screen and (min-width: 769px){
.tablet{
  display:block;
  position:relative;
  width:60px;
}
.mobile{
  display:none;
}
}
@media screen and (min-width: 992px){
  .strip{
    /* width:5%; */
    display: none;
  }
  .tripple,
  .trio{
      order:initial;
  }
  .third{
      width:32%;
  }
}
