.contact{
  background: $dark;
  &-form {
    padding-top: 60px;
    button {
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    display: block;
    width: 175px;
    text-transform: uppercase; 
    :hover {
      background: $light;
      color: $gold;
      border: 1px solid transparent;
    }   
    }
  }
}