%ordered, %unordered{
  padding:8px 15px;
  // modify font properties for ordered and unordered lists here
  font-size: 19px;
  line-height: 1.75 !important;
}

%unordered {
  list-style-type: disc;
}
%ordered{
  list-style-type: decimal;
}
