$path: '/fonts/Metropolis-';
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 300; 
  src: local('Metropolis Light'), local('Metropolis-Light'),
       url('#{$path}Light.woff2') format('woff2'),
       url('#{$path}Light.woff') format('woff')   
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 300; 
  src: local('Metropolis Light Italic'), local('Metropolis-LightItalic'),
       url('#{$path}LightItalic.woff2') format('woff2'),
       url('#{$path}LightItalic.woff') format('woff')       
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400; 
  src: local('Metropolis Regular'), local('Metropolis-Regular'),
       url('#{$path}Regular.woff2') format('woff2'),
       url('#{$path}Regular.woff') format('woff')   
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 400; 
  src: local('Metropolis Regular Italic'), local('Metropolis-LightItalic'),
       url('#{$path}RegularItalic.woff2') format('woff2'),
       url('#{$path}RegularItalic.woff') format('woff')        
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500; 
  src: local('Metropolis Medium'), local('Metropolis-Medium'),
       url('#{$path}Medium.woff2') format('woff2'),
       url('#{$path}Medium.woff') format('woff')       
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 500; 
  src: local('Metropolis Medium Italic'), local('Metropolis-MediumItalic'),
       url('#{$path}MediumItalic.woff2') format('woff2'),
       url('#{$path}MediumItalic.woff') format('woff')    
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 600; 
  src: local('Metropolis Medium'), local('Metropolis-SemiMedium'),
       url('#{$path}SemiMedium.woff2') format('woff2'),
       url('#{$path}SemiMedium.woff') format('woff')
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 600; 
  src: local('Metropolis Medium Italic'), local('Metropolis-SemiMediumItalic'),
       url('#{$path}SemiMediumItalic.woff2') format('woff2'),
       url('#{$path}SemiMediumItalic.woff') format('woff')     
}
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700; 
  src: local('Metropolis Bold'), local('Metropolis-Bold'),
       url('#{$path}Bold.woff2') format('woff2'),
       url('#{$path}Bold.woff') format('woff')  
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 700; 
  src: local('Metropolis Bold Italic'), local('Metropolis-BoldItalic'),
       url('#{$path}BoldItalic.woff2') format('woff2'),
       url('#{$path}BoldItalic.woff') format('woff') 
}
