.map .wrap img {
  max-width: 100%
}

.map {
  z-index: 0;
  padding-bottom: 30px;
  padding-top: 40px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: transparent;
}

.map .wrap {
  position: relative
}

.map .wrap .pts {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0
}

.pts .ld.wh {
  position: absolute
}

.pts .fn {
  left: 52%;
  top: 28%
}

.pts .eu {
  left: 47%;
  top: 38%
}

.pts .eu-1 {
  left: 48%;
  top: 37%
}

.pts .wc {
  left: 12%;
  top: 43%
}

.pts .ec {
  left: 24%;
  top: 45%
}

.pts .ec-1 {
  left: 25%;
  top: 44%
}

.pts .br {
  left: 33%;
  top: 76%
}

.pts .in {
  left: 68%;
  top: 55%
}

.pts .sn {
  left: 76%;
  top: 65%
}

.pts .jp {
  left: 85%;
  top: 43%
}

.pts .hk {
  left: 79%;
  top: 52%
}

.pts .au {
  left: 89%;
  top: 85%
}

.pts .ch {
  left: 22%;
  top: 43%
}

.pts .io {
  left: 20%;
  top: 45%
}

.pts .qc {
  left: 27%;
  top: 34%
}

.pts .st {
  left: 12%;
  top: 40%
}

.pts .wy {
  left: 15%;
  top: 40%
}

.pts .tx {
  left: 19%;
  top: 46%
}

.pts .ln {
  left: 46%;
  top: 35%
}

.pts .ge {
  left: 49%;
  top: 35%
}

.pts .sl {
  left: 83%;
  top: 43%
}

.pts .va {
  left: 88%;
  top: 88%
}

@media only screen and (min-width: 768px) {
  .map .wrap img {
    max-height: initial
  }
}

@media only screen and (min-width: 992px) {
  .map {
    padding-bottom: 0px;
    padding-top: 75px;
  }
  .map .wrap {
    max-width: 1060px;
    padding-bottom: 50px;
  }
  .map .wrap .pts {
    height: calc( 100% - 50px);
  }
 .ld {
    width: 13px;
    height: 13px;
  }
 .ld:after,
 .ld:before {
    width: 13px;
    height: 13px;
  }
}

@media only screen and (min-width: 1200px) {
  .map .wrap img {
    max-width: 100%
  }
  .map {
    padding-bottom: 0px;
    padding-top: 50px;
  }
  .map .wrap {
    padding-bottom: 50px;
  }
  .map .wrap .pts {
    width: 100%
  }
}

.ld {
  width: 9px;
  height: 9px;
  background-color: transparent;
  border-radius: 100px;
  position: relative
}

.ld:after,
.ld:before {
  display: inline-block;
  margin: auto;
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 100px;
  background-color: #fff;
  opacity: .8
}

.ld.wh:after,
.ld.wh:before {
  background-color: white
}


.slow:before {
  z-index: 200;
  animation: inner-ripple 4500ms linear infinite
}

.fast:before {
  z-index: 200;
  animation: inner-ripple 3500ms linear infinite
}

.faster:before {
  z-index: 200;
  animation: inner-ripple 1500ms linear infinite
}

@keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.8
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5
  }
  100% {
    transform: scale(10.5);
    filter: alpha(opacity=0);
    opacity: 0
  }
}
@keyframes pulse {
  0% {
    transform: scale(1)
  }
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 0;
    transform: scale(3)
  }
}
@keyframes sweep {
  to {
    transform: rotate(360deg)
  }
}