pre{
  display: block;
  margin: 0 0 10px;
  line-height: 1.42857143;
  color: #333;
  border-radius: 4px;
}
code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
code, pre {
  min-width: 100%;
  max-width: 100%;
}

.highlight{
  display: grid;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  box-shadow: 0 0.5rem 2rem rgba(158, 174, 221, 0.15);
  margin-bottom: 2rem;
}
pre.highlight{  
  border:none;
  padding:25px 20px;
  background: #f9f2f4;
  font-size: 1rem;
  box-shadow: none;
  margin-bottom: 0;
  .hll { background: #ffffcc }
  .err { color: #a61717; background: #e3d2d2; }
  .gd { background: #ffdddd }
  .gi { background: #ddffdd }
  .go { color: #888888; }
  .gp { color: #555555; }
  .gu,.w { color: #aaaaaa; }
  .kt { color: #445588; } 
  .nb { color: #0086B3; }
  .nc { color: #445588; }
  .nd { color: #3c5d5d; }
  .ni { color: #800080; }
  .gt,.gr,.ne,.nf,.nl { color: #990000; }
  .nn { color: #555555; }
  .nt { color: #000080; }
  .m,.mf,.mh,.mi,.mo { color: #009999 }
  .sr { color: #009926; }
  .ss { color: #990073; }
  .sb,.s,.sc,.sd,.s1,.s2,.se,.sh,.si,.sx { color: #d01040 }
  .bp,.c,.cm,.cp,.c1,.cs,.gh { color: #999999; }
  .il,.na,.no,.nv,.vc,.vg,.vi { color: #008080; }
  .gd,.ge,.gi,.k,.kc,.kd,.kn,.kp,.kr,.o,.ow { color: #000; }
  .cp,.cs,.k,.gs,.kc,.kd,.kn,.kp,.kr,.kt,.nc,.nd,.ne,.nf,.nl,.o,.ow { font-weight: 500; }
  .c,.cm,.cp,.c1,.cs,.ge { font-style: italic; }
}
