.header{
  width: 100%;
  font-size: 1.05rem;
  background-color: $light;
  // position: absolute;
  z-index: 99;
  color: $blue;
}
.nav{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  @media screen and (min-width: 1024px) {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &_menu{
    display: flex;
    flex-direction: column;
    // color: $light;
    overflow: hidden;
    @media screen and (max-width: 1023px) {
      opacity: 0;
      width: 16.5rem;
      background: $haze;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100vh;
      padding: $margin*2 0;
      transform: translateX(-16.5rem);
      transition: opacity 0.3s $ease, transform 0.3s $ease;
    }
    @media screen and (min-width: 1024px) {
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 75%;
    }
  }
  &_item{
    color: inherit;
    user-select: none;
    @media screen and (min-width: 1024px) {
      padding: 0.25rem 1rem;
    }
    &:hover{
      color: $blue;
    }
  }
  &_toggle{
    position: absolute !important;
    right: 25px !important;
    z-index: 9999;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(/assets/icons/icon-bar.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1.6rem;
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  &_close{
    height: 44px;
    width: 44px;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0.25rem 1rem rgba($dark, 0.15);
    background-size: 1.25rem;
    background-color: $dark;
    background-image: url(/assets/icons/icon-close.svg);
    top: 1rem;
  }
  &_open{
    box-shadow: 0 0 130px rgba(0,0,0,0.17);
    transform: translateX(0);
    opacity: 1;
  }
  &_child{
    // shows only when the mobile menu is open
    border-bottom: 1px solid lighten($light, 2%);
    padding: 15px;
    &.nav_active{
      border-left: 2.5px solid $blue;
    }
  }
  &_brand {
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }
  &_active {
    color: $blue;
  }
  &_overlay{
    cursor: pointer;
  }
  &_dark {
    @media screen and (min-width: 1024px) {
      background: $dark;
    }
  }
  &_scroll {
    // @media screen and (min-width: 1024px) {
      transform: translateY(-10rem);
      transition: transform 1.5s $ease;
      will-change: transform;
      // }
    }
    &_fixed {
      position: fixed !important;
      z-index: 101;
      left: 0;
      right: 0;
      top: 0;
      transform: translateY(0);
      box-shadow: 0 1.5rem 1rem -1rem rgba($dark, 0.04);
    }
  }
  
  