.tripple{
  width:100%;
}
.blog{
  grid-template-columns: 9fr 4fr;
  grid-gap: 25px 60px;
}
.blog{
  h1, h2, h3{
    margin:15px auto;
    text-align:left;
    padding:5px 0 0 0;
  }
  h4{
    font-size:1.2em;
  }
}
.post{
  margin:0 auto;
  padding:15px 25px;
  a{
    color: #faac3a;
    &:visited,
    &:hover{
      opacity:0.75;
    }
    &:visited{
      color: darken(#faac3a, 30%);
    }
  }
  p{
    padding-top:15px;
    padding-bottom:30px;
  }
  &-collection{
    justify-content: space-between !important;
    align-items: stretch !important;
    li{
      background-color: $light;
      border-radius:0 0 7.5px 7.5px;
      margin-top:20px;
      margin-bottom:50px;
    }
    h3{
      color: #fff;
    }
  }
  &__item{
    box-shadow: 0 0 100px rgba(0,0,0,0.17);
  }
  &-content{
    h4{
      margin:5px 0;
      text-align:left;
    }
    p:first-child{
      margin-top:0;
      padding-top:0;
    }
    a{
      padding-bottom:7.5px;
      text-decoration:underline;
    }
    ul, ul li{
      @extend %unordered;
    }
    ol, ol li{
      @extend %ordered;
    }
  }
  &-list {
    h3{
      text-align:left;
      color:inherit;
      padding-left:0;
      transition:color 0.25s ease-in-out;
    }
    li{
      padding:10px 0;
      margin:7.5px 0 0;
      // border-bottom:1px solid rgba(0,0,0,0.08);
      transition:color 0.25s ease-in;
    } 
    li:hover{
      color:#47CF73 ;
    }
  }
  &-title{
    margin:5px 0;
    text-align:left;
    font-size: 1.6rem;
  }
  &-link h3{
    padding:25px 10px 0;
    color: $dark;
    font-size:1.25em;
    margin: 0;
  }
}

.cool a:hover{
  color:#faac3a;
}
.land,
.post{
  padding:30px 20px;
}
.land{
  position:relative;
  background-color:#000;
  background-repeat:no-repeat;
  background-attachment:fixed;
  min-height:50vh;
  color:white;
  width:100%;
  padding:25px 0;
}
.blog.container{
  padding-top:20px;
}

.show{
  position:relative;
  background-size:cover;
  background-position:center;
  height:99px;
}
.excerpt{
  padding:0  15px 25px;
  // min-height:360px;
  border-radius:0 0 7.5px 7.5px;
  ul, ul li{
    @extend %unordered;
  }
  li{
    margin: 0;
  }
  ol, ol li{
    @extend %ordered;
  }
  p{
    font-size: 18px;
  }
}
.lighten{
  color:#666;
  display:block;
  padding:0 15px;
  font-size:16px;
}
.duration{
  color: $pale;
  font-size: 1.2em;
}
.follow{
  padding:5px;
  border-radius:50%;
  color:$light;
}
.social [class*='icon']{
  display:inline-block;
}
.gravatar{
  width:99px;
  border-radius:50%;
  display:inline-block;
  margin:0 10px 0 0;
}
.connect.clean{
  background-color:transparent;
  margin-top:20px;
}
.pretty{
  display:inline-block;
  width:96%;
  min-width:250px;
  font-size:1.2em;
  background-color:#ededed;
  color:inherit;
  padding:12.5px !important;
  cursor:pointer;
  margin-top:5px !important;
}
.deep{
  background-color:#f9f9f9;
}
.pretty + ul{
  height:0;
  overflow:hidden;
}
.opens{
  height:initial !important;
  a{
    font-size: 16px;
  }
}
#accordion li{
  padding:12.5px;
  font-size:1.1em;
  border-bottom:1px solid #f9f9f9;
  width:96%;
}
.widget{
  position:fixed;
  top:0;
  bottom:0;
  width:100%;
  background-color:rgba(0,0,0,0.6);
  padding:25px;
}
.paginate {
  text-align: center;
  display:block;
  margin:0 auto 30px auto;
  a:hover {
    background-color: #f9f9f9;
    color: $dark;
  }
  a, span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #eee;
    border-radius:50%;
  }
  &_active{
    background: $gold !important;
    color: $light;
    transition: all 0.3s ease-out;
    &:hover{
      opacity: 0.8;
    }
  }
}
