.block {
  min-height: 56vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  display: grid;
  align-items: center;
  width: 16rem;
  margin: -0.5rem 0;
  @media screen and (max-width: 400px) {
    width: 12.5rem;
  }
}
.truncate {
  // for body element
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.light{
  color: $light;
}
.mute {
  color: $mute;
}
.feedback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  height: 50%;
  min-height: 240px;
  width: 100%;
  max-width: 560px;
  background: $light;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(158, 174, 221, 0.1);
}
.pale{
  color: $pale;
}
.dark{
  background-color: $dark;
}
@for $i from 1 through 4 {
  $pad: 20px;
  .pb-#{$i}{
    padding-bottom: $i * $pad;
  }
  .pt-#{$i}{
    padding-top: $i * $pad;
  }
}
.pa{
  padding-left: 25px;
  padding-right: 25px;
}
.grid{
  display: grid;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.flex {
  align-items:flex-start;
  justify-content:space-between;
  &,&-in,&-up{
    display:flex;
  }
  &-in{
    justify-content:center;
    align-items: center;
  }
  &-up{
    flex-direction:column;
    justify-content:space-between;
  }
}
.spinner{
  margin: 20px auto;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 2px 14px 0 rgba(158, 174, 221, 0.1);
  font-size: 0.75rem;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    border-style: solid;
    border-color: #e00 #f00 #0f0 transparent;
    border-width: 2px 1px 1px 1px;
    border-radius: 50%;
    animation: rotate 0.5s linear infinite;
    transform-origin: center;
  }
}
.center {
	text-align: center;
}
.vcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}

// special overlay for menu
.slab {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba($dark, 0.03) !important;
  z-index: 99999;
}

$sites: (
  facebook: #325c94,
  instagram: #fb3958,
  twitter: #00abdc,
  linkedin: #007bb6
);

@each $item, $color in $sites {
  .#{$item} {
    background: $color;
  }
}

@for $i from 1 through 3 {
  $size: $i * 20px;
  // margin bottom
  .mb-#{$i} {
    margin-bottom: $size !important;
  }
  // margin top
  .mt-#{$i} {
    margin-top: $size !important;
  }
  // padding around
  .ma-#{$i} {
    padding: $size !important;
  }
  .pt-#{$i} {
    padding-top: $size !important;
  }
  .pb-#{$i} {
    padding-bottom: $size !important;
  }
  .pl-#{$i} {
    padding-left: $size !important;
  }
  .pr-#{$i} {
    padding-right: $size !important;
  }
}

.mt-2 {
  margin-top: 40px;
}
.mb-2 {
  margin-bottom: 40px;
}

@media screen and (max-width: 1084px) {
  .pa{
    padding-left: 25px;
    padding-right: 25px;
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

%grid {
  display: grid !important;
  grid-template-columns: 1fr;
}

[class*='grid'] {
  @extend %grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.grid- {
  grid-template-columns: 1fr;
}

@media screen  and (min-width: 48.0625rem) {
  [class*='grid']  {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  
  .grid- {
    // flip grid auto borrowed
    grid-template-columns: 3fr 1fr;
  }
  
  .grid-inverse {
    grid-template-columns: 1fr 3fr;
  }
  
  .grid-trio {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  
  .grid-duo {
    grid-template-columns: 3rem 1fr;
    grid-gap: 2rem;
    align-items: center;
  }
}

@media screen and (min-width: 64rem) {
  @for $i from 2 through 4 {
    .grid-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}
@for $i from 2 through 4 {
  .img-#{$i} {
    display: inline-block;
    height: $i * 40px;
  }
}

.grid-1 {
  grid-template-columns: 1fr;
}
.grid-service {
  grid-template-columns: 10rem 1fr;
  @media screen and (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .figure {
    filter: drop-shadow(-60px 40px 40px rgba(52, 90, 64, 0.1));
  }
}

.none {
  padding: 0;
  margin: 0;
  height: 0;
  transition: 0.3s ease-in-out;
}
.alert {
  height: initial;
  padding: initial;
  &-danger {
    color: #dc3545;
  }
  &-success {
    color: #28a745;
  }
}
.thumbnail {
  width: 7rem;
}
.label {
  &-normal {
    font-weight: 400;
    opacity: 0.84;
    margin-bottom: 0.25rem;
    font-size: 1.1rem;
  }
  &-upper {
    font-weight: 400;
  }
}
.haze {
  background-color: $haze;
}

