// variables
$dark : #132433; // #24292e;
$pale: lighten($dark, 15%);
$light: #fff;
$gold: #faac3a;
$mute: darken($light, 20%);
$max-width: 1084px;
$padding: 15px;
$margin: 25px;

// mixins
@mixin viewport ($width: $max-width){
  width:100%;
  max-width: $width;
  margin:0 auto;
  @content;
}