// variables
// $dark: #8268fc;
// $dark:#6593f5;
// $dark:#0f52ba;
// $dark: #1d2951;
// $dark: #003152;
// #1F2A2F;
// #132433;
// #24292e;
$dark : #161d21; 
$text: #161d21;
$pale: lighten(#000, 20%);
$light: #fff;
$haze: #f5f5f5;
$mute: darken($light, 20%);
$max-width: 1084px;
$padding: 15px;
$margin: 25px;
$blue: #34a2e2;
$font: 'Metropolis', sans-serif;
$ease: cubic-bezier(.19,1,.22,1);

:root {
  --dark: #1b1f23;
}

// mixins
@mixin viewport ($width: $max-width){
  width:100%;
  max-width: $width;
  margin:0 auto;
  @content;
}
