// variables
$dark : #161d21; // #132433; // #24292e;
$text: #161d21;
$pale: lighten(#000, 20%);
$light: #fff;
$gold: #faac3a;
$mute: darken($light, 20%);
$max-width: 1084px;
$padding: 15px;
$margin: 25px;
$font: 'Metropolis', sans-serif;
$ease: cubic-bezier(.19,1,.22,1);

// mixins
@mixin viewport ($width: $max-width){
  width:100%;
  max-width: $width;
  margin:0 auto;
  @content;
}
