pre{
  padding: 25px 15px;
  font-size:15px;
}
.highlight{
  .pi {color: #00cd00}
  pre { background-color:#223; }
  .hll { background-color:#223; }
  .c { color: #000080 } /* Comment */
  .err { 
    color: #cccccc; 
    border: 1px solid rgb(104, 42, 42); 
  } /* Error */
  .g { color: #cccccc } /* Generic */
  .k { color: #cdcd00 } /* Keyword */
  .l { color: #cccccc } /* Literal */
  .n { color: #cccccc } /* Name */
  .o { color: #3399cc } /* Operator */
  .x { color: #cccccc } /* Other */
  .p { color: #cccccc } /* Punctuation */
  .cm { color: #000080 } /* Comment.Multiline */
  .cp { color: #000080 } /* Comment.Preproc */
  .c1 { color: #000080 } /* Comment.Single */
  .cs { 
    color: #faac3a; 
    font-weight: bold; 
  } /* Comment.Special */
  .gd { color: #faac3a; } /* Generic.Deleted */
  .ge { 
    color: #cccccc;
    font-style: italic 
  } /* Generic.Emph */
  .gr { color: #faac3a; } /* Generic.Error */
  .gh { 
    color: #000080; 
    font-weight: bold; 
  } /* Generic.Heading */
  .gi { color: #00cd00 } /* Generic.Inserted */
  .go { color: #808080; } /* Generic.Output */
  .gp { 
    color: #000080; 
    font-weight: bold; 
  } /* Generic.Prompt */
  .gs { 
    color: #cccccc; 
    font-weight: bold; 
  } /* Generic.Strong */
  .gu { 
    color: #800080;
    font-weight: bold; 
  } /* Generic.Subheading */
  .gt { color: #0040D0; } /* Generic.Traceback */
  .kc { color: #cdcd00; } /* Keyword.Constant */
  .kd { color: #faac3a; } /* Keyword.Declaration */
  .kn { color: #cd00cd; } /* Keyword.Namespace */
  .kp { color: #cdcd00; } /* Keyword.Pseudo */
  .kr { color: #cdcd00; } /* Keyword.Reserved */
  .kt { color: #faac3a; } /* Keyword.Type */
  .ld { color: #cccccc; } /* Literal.Date */
  .m { color: #cd00cd; } /* Literal.Number */
  .s { color: #faac3a; } /* Literal.String */
  .na { color: #cccccc; } /* Name.Attribute */
  .nb { color: #cd00cd; } /* Name.Builtin */
  .nc { color: #00cdcd; } /* Name.Class */
  .no { color: #cccccc; } /* Name.Constant */
  .nd { color: #cccccc; } /* Name.Decorator */
  .ni { color: #cccccc; } /* Name.Entity */
  .ne { 
    color: #666699; 
    font-weight: bold;; 
  } /* Name.Exception */
  .nf { color: #cccccc; } /* Name.Function */
  .nl { color: #cccccc; } /* Name.Label */
  .nn { color: #cccccc; } /* Name.Namespace */
  .nx { color: #cccccc; } /* Name.Other */
  .py { color: #cccccc; } /* Name.Property */
  .nt { color: #cccccc; } /* Name.Tag */
  .nv { color: #00cdcd; } /* Name.Variable */
  .ow { color: #cdcd00; } /* Operator.Word */
  .w { color: #cccccc } /* Text.Whitespace */
  .mf { color: #cd00cd; } /* Literal.Number.Float */
  .mh { color: #cd00cd; } /* Literal.Number.Hex */
  .mi { color: #cd00cd; } /* Literal.Number.Integer */
  .mo { color: #cd00cd; } /* Literal.Number.Oct */
  .sb { color: #faac3a; } /* Literal.String.Backtick */
  .sc { color: #faac3a; } /* Literal.String.Char */
  .sd { color: #faac3a; } /* Literal.String.Doc */
  .s2 { color: #faac3a; } /* Literal.String.Double */
  .se { color: #faac3a; } /* Literal.String.Escape */
  .sh { color: #faac3a; } /* Literal.String.Heredoc */
  .si { color: #faac3a; } /* Literal.String.Interpol */
  .sx { color: #faac3a; } /* Literal.String.Other */
  .sr { color: #faac3a; } /* Literal.String.Regex */
  .s1 { color: #faac3a; } /* Literal.String.Single */
  .ss { color: #faac3a; } /* Literal.String.Symbol */
  .bp { color: #cd00cd; } /* Name.Builtin.Pseudo */
  .vc { color: #00cdcd; } /* Name.Variable.Class */
  .vg { color: #00cdcd; } /* Name.Variable.Global */
  .vi { color: #00cdcd; } /* Name.Variable.Instance */
  .il { color: #cd00cd; } /* Literal.Number.Integer.Long */
}