---
layout: default
---
<section class = 'cool'>
  {% include globe.html %}
  <div class = 'overlay'>
    <div>
      <h1>Konekti Blog</h1>
    </div>
  </div>
</section>
<section class = 'blog container grid- pa'>
  <article>
    <div class = 'hold'>
      <div class = 'post-collection'>
        {% for post in paginator.posts %}
        <div class = 'child post__item'>
          <div class = 'flex-up'>
            <a href = '{{ post.url | relative_url }}' class = 'post-link'>
              <h3>
                {{ post.title | escape }}
              </h3>
            </a>
            <p class = 'lighten'>{{ post.date | date: '%b %d, %Y' }} <span class = 'apart'>|</span> by {{ post.author }}</p>
          </div>
          <div class = 'excerpt flex-up'>
            <p>{{ post.excerpt  | strip_html | truncate: 480 }}</p>
            <a href = '{{ post.url | relative_url }}' class = 'btn btn_left'>Read More</a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% include paginate.html %}
    </div>
  </article>
  <aside class = 'pt-1'>
    {% include sidebar.html %}
  </aside>
</section>
